#email-error{
	color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: none;
    text-align: right;
}
#username-error{
	color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: none;
    text-align: right;
}